/* The body by default has a margin, often it is set to 0 manually */
body {
    margin: 0;
}

div {
    /* limit / grow the width and height of an element's content box */
    width: 200px;
    height: 200px;
    background-color: #e5989b;
}

h1 {
    background-color: pink;
    /* padding controls the space between the content and the border */
    padding-top: 50px;
    padding-left: 100px;
}

/* Padding shorthand:
    padding: <value>  // All four sides
    padding: <vertical> <horizontal>
    padding: <top> <horizontal> <bottom>
    padding <top> <right> <botto> <left>
    
    Same applies for the margin property */

/* Border properties:
    width,
    style
    color */
#one {
    background-color: #e5989b;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    /* Makes the width include the border, other way around border is not in 
        width */
    box-sizing: border-box;
    margin-left: 50px;
    margin-bottom: 100px;
}

#two {
    background-color: #b5838d;
    border-color: #ffcdb2;
    border-width: 3px;
    border-style: dashed;
    border-left-color: red;
    border-left-width: 5px;
    /* we can also make the border corners more rounded */
    border-radius: 5%;
    padding-right: 30px;
    margin: 200px;
}

#three {
    background-color: #6d6875;
    /* Border can be specified with a single property
        border width style color */
    border: 4px dotted white;
    border-radius: 10% 30%;
    /* border-radius: 10% / 30%; */
    padding: 10px 20px 30px 40px;
}

button {
    padding: 10px 20px;
}